# Auto detect text files and perform LF normalization
* text=auto
*.rb linguist-language=Java
assets/vendor/* linguist-vendored
assets/images/* linguist-vendored=false
js/main.min.js linguist-generated=true